<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Quadbook</title>
    <link rel='stylesheet' type='text/css' media='screen' href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon16x16.png">
</head>
<body>

    <header class="site-header full-width">
        <div class="content">
            <span class="logo">
                Quadbook
            </span>
            <div class="login-grid">
                <div class="login-input-label">Remember me<input type="checkbox">&nbsp</div>
                <div class="login-input-label">Forgotten your password?</div>
                <div><!--This is just to format the grid--></div>
                <div><input type="email" placeholder="Email address"></div>
                <div><input type="password" id="pwd" name="pwd" placeholder="Password"></div>
                <a class="ui-button blue">
                    Log In
                </a>
            </div>
        </div>
    </header>

    <div class="signup-bar full-width">
        <div class="content">
            <div>
                <a class="ui-button green">
                    Sign Up
                </a>
            </div>
            <div>
                <p><span class="referral-name"><span class="full-name"></span> is on Quadbook</span></p>
                <p>Sign up for Quadbook to connect with <span class="full-name plain"></span>.</p>
            </div>
        </div>
    </div>

    <div class="profile-section top full-width profile-section-height">
        <div class="content">
            <section class="profile-layout">
                <aside class="sidebar-left top">
                    Sidebar-left top
                    <div class="widgets">
                        Hello
                    </div>
                </aside>
                <aside class="sidebar-right top">
                    <h1 class="full-name"></h1>
                    <nav class="tabs">
                        <ul>
                            <li class="tab active" id="tab1"><h2>
                                Wall
                            </h2></li>
                            <li class="tab" id="tab2"><h2>
                                Info
                            </h2></li>
                            <li class="tab" id="tab3"><h2>
                                Photos
                            </h2></li>
                            <li class="tab" id="tab4"><h2>
                                Boxes
                            </h2></li>
                            <li class="tab" id="tab5"><h2>
                                Videos
                            </h2></li>
                        </ul>
                    </nav>
                </aside>
                <div class="padder">
                </div>
            </section>
        </div>
    </div>

    <div class="profile-section body">
        <div class="content">
            <section class="profile-layout">
                <aside class="sidebar-left body">
                    <img src="pfp.jpg" class="profile-photo">
                    <div class="blurb">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="widgets">
                        <div class="widget">
                            <h4>Widget header</h4>
                            <h5>Widget subheading</h5>
                            <div class="widget-content">Widget content</div>
                        </div>
                        <div class="widget">
                            <h4>Widget header</h4>
                            <h5>Widget subheading</h5>
                            <div class="widget-content">Widget content</div>
                        </div>
                        <div class="widget">
                            <h4>Widget header</h4>
                            <h5>Widget subheading</h5>
                            <div class="widget-content">Widget content</div>
                        </div>
                    </div>
                </aside>

                <main class="sidebar-right content">
                    <section class="tab-content active" id="tab-content1">
                        <div class="filter">
                            <span class="filter1 full-name"></span><span class="filter2">Just Friends</span>
                        </div>
                        <div class="story">
                            <div class="story-content">
                                <h3>This is Tab 1</h3>
                                <p>Hello! Welcome to the Quadbook template! It's based on 2009 Facebook, which you can see in the attached link. Pretty fun, right? By the way, the tabs work. Try it yourself now - click on Info, Photos, Boxes, or Videos up there.</p>
                                <a href="https://web.archive.org/web/20090919203309/http://www.facebook.com/markzuckerberg?v=wall" class="story-attachment pin">http://www.facebook.com/markzuckerberg?v=wall</a>
                            </div>
                        </div>
                        <div class="story">
                            <div class="story-content">
                                <h3>Semantic, screen-reader friendly stuff</h3>
                                <p>I mean, I tried. The headers (h1, h2, etc.) are properly formatted and I did my best to use semantic divs. I learned a lot making this, especially with the Javascript to make the tabs work!</p>
                                <p>The icons I've done are just pin, note and image icons.</p>
                                <a href="#" class="story-attachment note">This is a note</a>
                            </div>
                        </div>
                        <div class="story">
                            <div class="story-content">
                                <h3>This is another entry</h3>
                                <p>You can add more entries or whatever the flip you want. Hope you like this template, I'd use it if I didn't already love my current template.</p>
                                <p>Here's a fun button you can click on.</p><br>
                                <a class="ui-button green">
                                    I am a button!
                                </a>
                            </div>
                        </div>
                        <div class="story">
                            <div class="story-content">
                                <h3>Dark mode friendly</h3>
                                <p>Oh flip yeah. Turn on dark mode on your device to see the dark mode I added just for youse. Here's a couple image thumbnails for fun. I made this round New Years. And can you tell, I play Club Penguin Journey?</p>
                                <img src="hny.jpg" class="thumbnail"><img src="rookie.jpg" class="thumbnail"><img src="ch.jpg" class="thumbnail"><br>
                                <a href="" class="story-attachment image">This is an image icon</a>
                            </div>
                        </div>
                    </section>

                    <section class="tab-content" id="tab-content2">
                        <div class="story">
                            <div class="story-content">
                                <h3>your did it</h3>
                                <p>Not the most epic formatting here, but I doubt you'll want the second tab to look exactly like your first, so just placeholders. The rest of the tabs are empty. Fill it with what your heart desires!</p>
                            </div>
                        </div>
                    </section>
                </main>
                <div class="padder">
                </div>

            </section>

        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>